:root{
    --primary__color: hsl(300, 43%, 22%);
    --Soft_Pink: hsl(333, 80%, 67%);
    --Dark_Grayish_Magenta: hsl(303, 10%, 53%);
    --Light_Grayish_Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.5rem;
    background-color: var(--main_bg);
    font-family: 'League Spartan', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.main__container{
    margin: 5rem auto 3rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
}

.main__title{
    color: var(--primary__color);
    font-weight: 700;
    font-size: 4.5rem;
    line-height: .8;
}

.main__p{
    color: var(--Dark_Grayish_Magenta);
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.main__data{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}

.main__item{
    background-color: var(--Light_Grayish_Magenta);
    border-radius: 1rem;
    padding: 1.5rem;

}

.main__item p:nth-child(2){
    color: var(--primary__color);
    font-weight: 700;
    font-size: 2rem;
    margin-top: 1rem;
}

.main__grid{
    display: grid;
    gap: 2rem;
}

.main__article{
    background-color: var(--primary__color);
    border-radius: 1rem;
    padding: 5rem 4rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.main__user{
    height: 5rem;
    display: flex;
    align-items: center;
    gap: 2.5rem;
    font-size: 2rem;
}

.main__picture,
.main__picture img{
    height: 100%;
    border-radius: 100%;
}

.main__name{
    text-align: left;
}

.main__name p:nth-child(1){
    color: var(--White);
}

.main__name p:nth-child(2){
    color: var(--Soft_Pink);
}

.main__user__p{
    color: var(--Light_Grayish_Magenta);
    text-align: left;
    font-size: 2rem;
    
}



/* .main__user{
    display: inline-block;
    display: flex;
    gap: 2rem;
} */
